.body {
    text-align: center;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.body button {
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

video {
    border-radius: 10px;
}

canvas {
    position: absolute;
    left: 0;
}