:root {
    --principal-font:'Ubuntu', sans-serif;

    --valid: #00ffaa;
    --invalid: #ff8a00;
}

#home-body {
    width: 100vw;
    height: 100vh;

    background-color: #000;
    color: #fff;

    font-family: var(--principal-font);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    --text-color: #afafaf;
    max-width: 500px;
}

.field {
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;

    border-bottom: 2px dashed var(--text-color);
    margin: 4rem auto 1rem;
}

.field::after {
    content: "";

    position: relative;
    display: block;

    top: 2px;
    height: 4px;
    width: 100%;

    background-color: #d16dff;
    transform: scaleX(0);
    transform-origin: 0%;

    transition: transform 0.5s ease;
}

.field:focus-within {
    border-color: transparent;
}

.field:focus-within::after {
    transform: scaleX(1)
}

.label {
    font-size: 1.6rem;
    position: absolute;

    transform: translateY(2rem);
    transform-origin: 0%;

    transition: transform 0.5s;
}

.field:focus-within .label, .input:not(:placeholder-shown) + .label{
    transform: scale(0.6) translateY(-2rem);
}

.input {
    height: 70px;
    font-family: var(--principal-font);

    outline: none;
    border: none;
    overflow: hidden;

    margin: 0;
    padding: 0.25rem 0;
    width: 100%;

    background: none;
    color: #fff;

    font-size: 1.2rem;
    font-weight: bold;
}

.input[type="email"]:valid {
    color: var(--valid);
}

.input[type="email"]:invalid {
    color: var(--invalid);
}

.strength {
    display: flex;
    height: 20px;
    width: 100%;

    margin-bottom: 10px;
}

.bar  {
    margin-right: 5px;
    height: 100%;
    width: 25%;

    transition: box-shadow .5s;

    box-shadow: inset 0px 20px #1f1f1f;
}

.bar-show {
    box-shadow: none;
}

.bar-1 {
    background: linear-gradient(to right, red, orangered);
}

.bar-2 {
    background: linear-gradient(to right,orangered, yellow);
}

.bar-3 {
    background: linear-gradient(to right, yellow, yellowgreen);
}

.bar-4 {
    background: linear-gradient(to right, yellowgreen, green);
}