@charset "UTF-8";

body{
    background-color: wheat;
}

h1{
    margin-top: 20px;
    font-size: 3em;
    text-align: center;
}

p{
    text-align: center;
}

select{
    margin: 1% 0px;
    font-size: 1.2em;
    height: 30px;
    width: 140px;
}

input{
    margin-bottom: 40px;
    font-size: 1em;
    height: 25px;
    width: 110px;
}

div{
    margin: auto;
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 30px;
}