@charset "UTF-8";

:root{
    --branco: #fff;
    --fundo: #154a69;
}

body{
    text-align: center;
    background-color: var(--fundo);
    font-family: Nunito;
}

#wrapper{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper div, #wrapper ul, #wrapper img{
    width: 50%;
    max-width: 310px;
    min-width: 210px;
}

ul{
    padding: 0px;
}

div#titulo{
    background-color: var(--branco);
    font-size: 2.4em;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

h1#titulop{
    color: var(--branco);
    font-size: 3em;
    margin: 0px;
}

img{
    margin: auto;
}

.alternativa {
    list-style: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: var(--branco);
}

.alternativa:hover{
    cursor: pointer;
    opacity: 0.8;
}

div#result{
    font-weight: bold;
}

div#result, div#pontos{
    color: var(--branco);
}

div#wrapper > a{
    margin-top: 30px;
}

footer{
    margin-top: 30px;
    color: var(--branco);
}

footer > a{
    text-decoration: none;
    color: var(--branco);
}

footer a:hover{
    color: #000;
}